html {
  font: 'Arial';
  width: max-content;
  height: max-content;
  min-height: min-content;
  min-width: min-content;
}

body {
  text-align: center;
  vertical-align: middle;
  margin: *;
  padding: 5em;
}

h1 {
  margin-top: 0;
}

form {
  flow: vertical;
  border-spacing: 0.5em;
}

form>input {
  width: 20em;
}

button {
  width: *;
}

form>span {
  border-spacing: *;
  flow: horizontal;
  width: *;
}

#credits {
  justify-content: center;
  flow: vertical;
  width: *;
  height: *;
  margin-bottom: 1em;
}

#credits>span {
  text-align: center;
  width: *;
  margin-top: 0.5em;
}

a {
  padding: 0 .5em 0 .5em;
}

div.output, svg {
  width: 150dip;
  height: 150dip;
}

div.output {
  margin: auto;
}